@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Noto+Serif:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --color-primary: #0A192F;
  --color-secondary: #1C1C1C;
  --color-tertiary: #C5A059;
  --color-neutral: #F9F9F9;
  --color-background: #F9F9F9;
  --color-foreground: #1a1c1c;
  --color-surface: #ffffff;
  --color-surface-dim: #dadada;
  --color-outline: #75777e;
  
  --font-serif: "Noto Serif", serif;
  --font-sans: "Manrope", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

@layer utilities {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
